
body {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: #ffffff;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.mask-custom .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-container {
    background-color: transparent;
    border: 1px solid #d7d6d6;
    border-radius: 1rem;
}

.message-block {
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.message-block::-webkit-scrollbar {
    width: 8px;
}

.message-block::-webkit-scrollbar-track {
    background: transparent;
}

.message-block::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.message-block {
    scroll-behavior: smooth;
}

.chat-header {
    font-style: italic;
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid #d7d6d6;
}

.chat-footer {
    padding: .5rem 1rem;
    border-top: 1px solid #d7d6d6;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #ffffff;
    margin: 10px 0;
}

.circular-element {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid rgba(123, 121, 121, 1);;
}